.navigation{
    display: flex;
    flex-direction: column;
}

.navigation .button-section{
    display: flex;
    justify-content: space-around;
}

#button-description{
    margin-bottom: 1.8em;
}

#description{
    margin-bottom: 3em;
    font-size: 28px;
}

.question{
    color: #ef2121;
    font-size: 32px;
}
